ansible==12.0.0
ansible-core==2.19.2
certifi==2025.8.3
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.3
cryptography==46.0.1
detect-secrets==1.5.0
distlib==0.4.0
filelock==3.19.1
git-filter-repo==2.47.0
identify==2.6.14
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
nodeenv==1.9.1
packaging==25.0
platformdirs==4.4.0
pre_commit==4.3.0
pycparser==2.23
PyYAML==6.0.3
requests==2.32.5
resolvelib==1.2.0
urllib3==2.5.0
virtualenv==20.34.0
