---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: namespaces
  namespace: flux-system
spec:
  interval: 5m
  path: "./clusters/first-cluster/namespaces"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
---

apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb
  namespace: flux-system
spec:
  dependsOn:
    - name: namespaces
  interval: 5m
  path: "./clusters/first-cluster/metallb"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: metallb-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: podinfo
  namespace: flux-system
spec:
  dependsOn:
    - name: metallb
  interval: 5m
  path: "./clusters/first-cluster/podinfo"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: default
