---
apiVersion: v1
kind: Service
metadata:
  name: grafana-service
  namespace: monitoring

spec:

  type: LoadBalancer

  ports:
    - name: http-access
      port: 8080
      targetPort: 3000

  selector:
    app: grafana
